<h1>Exp</h1>
<p>Exp short for Expense, is a web application that helps you to keep track of your expenses easily.</p>
<br />
<span>
    @if (!shouldFilter()) {
        Total spent: {{totalWithoutCat()}}
    } @else {
        Total spent on {{filterValue()}}: {{TotalWithCat(filterValue())}}
    }
</span><br />
<label for="filter-checkbox">Filter?</label><br />
<input type="checkbox" [checked]="shouldFilter()" (change)="toggleFilter()" id="filter-checkbox" /><br />
@if (shouldFilter()) {
    <app-obj-dropdown (selectedCategoryOutput)="setFilterValue($event)" /><br />
    <span>Filtering by {{filterValue()}}</span>
}
<h2>Expenses ({{visibleExpenses().length}})</h2>
@if (visibleExpenses().length <= 0) {
    <p>No expenses found.</p>
} @else {
    @for (e of visibleExpenses(); track e.id) {
        <app-expense [title]="e.title" [price]="e.price" [category]="e.category" />
        <button (click)="deleteExpense(e.id)">Delete expense {{e.title}}</button><br />
    }
}
    <br />
    <app-expense-price-input (priceInputOutput)="setPrice($event)" /><br />
    <app-obj-dropdown (selectedCategoryOutput)="setCategory($event)" /><br />
    <app-exp-input (expenseTitleOutput)="setExpenseTitle($event)" /><br />

<button (click)="addExpense()">Add expense</button>